# Wspolne
wifi_ssid: "nazwa_twojej_sieci"
wifi_password: "haslo_do_wifi"

# ESP-Cat (karmnik)
espcat_ip: "192.168.1.165"
espcat_api_key: "otrzymaj_od_wlasciciela"
espcat_ota_password: "otrzymaj_od_wlasciciela"
espcat_ap_password: "otrzymaj_od_wlasciciela"

# ESP-LED (oswietlenie + czujniki)
espled_ota_password: "otrzymaj_od_wlasciciela"
espled_ap_password: "otrzymaj_od_wlasciciela"
xiaomi_bindkey: "otrzymaj_od_wlasciciela"
